<h1 class="hidden" ng-i18next="h1.projects"></h1>
<div ng-controller="modalPreviewController">
  <section class="col-xs-12">
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt img-raised" ng-i18next="[src]projets.portfolio.logo.url;[alt]projets.portfolio.logo.title;[data-url]projets.portfolio.logo.url" ng-click="open($event,'lg')">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.portfolio.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.portfolio.description"></p>
              <p class="text-muted" ng-i18next="projets.portfolio.date"></p>
              <p ng-i18next="[html]projets.portfolio.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.portfolio.sources;[html]code"></a></p>
              <script type="application/ld+json">
              {
                "@context": "http://schema.org/",
                "@type": "WebApplication",
                "name": "Portfolio AngularJS",
                "screenshot":"http://www.antoinecaron.ovh/public/img/portfolio.jpg",
                "downloadUrl":"https://github.com/Slashgear/portfolio",
                "installUrl":"http://www.antoinecaron.ovh/",
                "author":[
                  {"@type":"Person",
                   "name":"Antoine CARON"}
                ],
                "image":"http://www.antoinecaron.ovh/public/img/portfolio.jpg",
                "dateCreated":"2015-07-01",
                "applicationCategory":"Web, Angular",
                "operatingSystem":"Windows 10",
                "offers":{
                  "price":"0"
                }
              }
              </script>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt img-raised" ng-i18next="[src]projets.permispiste.logo.url;[alt]projets.permispiste.logo.title;[data-url]projets.permispiste.logo.url" ng-click="open($event,'lg')">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.permispiste.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.permispiste.description"></p>
              <p class="text-muted" ng-i18next="projets.permispiste.date"></p>
              <p ng-i18next="[html]projets.permispiste.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.permispiste.sources;[html]code"></a></p>
              <script type="application/ld+json">
              {
                "@context": "http://schema.org/",
                "@type": "WebApplication",
                "name": "Permis Piste J2EE WebApplication",
                "screenshot":"http://www.antoinecaron.ovh/public/img/permispiste.jpg",
                "downloadUrl":"https://github.com/Slashgear/tp-progrepar-piste",
                "author":[
                  {"@type":"Person",
                   "name":"Antoine CARON"},
                  {"@type":"Person",
                    "name":"Adrien Chaussende"},
                  {"@type":"Person",
                     "name":"Alexandre Galdéano"}
                ],
                "image":"http://www.antoinecaron.ovh/public/img/permispiste.jpg",
                "dateCreated":"2015-05-01",
                "applicationCategory":"Web, J2EE, Hibernate",
                "operatingSystem":"Windows 10",
                "offers":{
                  "price":"0"
                }
              }
              </script>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.cuttingstock.logo.url;[alt]projets.cuttingstock.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.cuttingstock.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.cuttingstock.description"></p>
              <p class="text-muted" ng-i18next="projets.cuttingstock.date"></p>
              <p ng-i18next="[html]projets.cuttingstock.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.cuttingstock.sources;[html]code"></a></p>
              <script type="application/ld+json">
              {
                "@context": "http://schema.org/",
                "@type": "SoftWareApplication",
                "name": "2 Dimensions cutting stock problem : Optimisation d'impression",
                "downloadUrl":"https://github.com/Slashgear/tp-progrepar-piste",
                "author":[
                  {"@type":"Person",
                   "name":"Antoine CARON"},
                  {"@type":"Person",
                    "name":"Adrien Chaussende"}
                ],
                "image":"http://localhost/portfolio/public/img/cuttingstock.jpg",
                "dateCreated":"2015-04-01",
                "applicationCategory":"Java 8",
                "operatingSystem":"Windows 10",
                "offers":{
                  "price":"0"
                }
              }
              </script>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.mdp.logo.url;[alt]projets.mdp.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.mdp.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.mdp.description"></p>
              <p class="text-muted" ng-i18next="projets.mdp.date"></p>
              <p ng-i18next="[html]projets.mdp.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.mdp.sources;[html]code"></a></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.qlearning.logo.url;[alt]projets.qlearning.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.qlearning.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.qlearning.description"></p>
              <p class="text-muted" ng-i18next="projets.qlearning.date"></p>
              <p ng-i18next="[html]projets.qlearning.labels"></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.pop3.logo.url;[alt]projets.pop3.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.pop3.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.pop3.description"></p>
              <p class="text-muted" ng-i18next="projets.pop3.date"></p>
              <p ng-i18next="[html]projets.pop3.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.pop3.sources;[html]code"></a></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.smtp.logo.url;[alt]projets.smtp.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.smtp.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.smtp.description"></p>
              <p class="text-muted" ng-i18next="projets.smtp.date"></p>
              <p ng-i18next="[html]projets.smtp.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.smtp.sources;[html]code"></a></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt img-raised" ng-i18next="[src]projets.filtration.logo.url;[alt]projets.filtration.logo.title;[data-url]projets.filtration.logo.url" ng-click="open($event,'lg')">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.filtration.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.filtration.description"></p>
              <p class="text-muted" ng-i18next="projets.filtration.date"></p>
              <p ng-i18next="[html]projets.filtration.labels"></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.tftp.logo.url;[alt]projets.tftp.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.tftp.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.tftp.description"></p>
              <p class="text-muted" ng-i18next="projets.tftp.date"></p>
              <p ng-i18next="[html]projets.tftp.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.tftp.sources;[html]code"></a></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt" ng-i18next="[src]projets.tetris.logo.url;[alt]projets.tetris.logo.title">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.tetris.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.tetris.description"></p>
              <p class="text-muted" ng-i18next="projets.tetris.date"></p>
              <p ng-i18next="[html]projets.tetris.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.tetris.sources;[html]code"></a></p>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-sm-3">
              <img class="icon  center-block  img-responsive img-sp-bt img-raised" ng-i18next="[src]projets.tron.logo.url;[alt]projets.tron.logo.title;[data-url]projets.tron.logo.url" ng-click="open($event,'lg')">
          </div>
          <div class="col-sm-9">
              <h4 class="list-group-item-heading" ng-i18next="projets.tron.name"></h4>
              <p class="list-group-item-text" ng-i18next="[html]projets.tron.description"></p>
              <p class="text-muted" ng-i18next="projets.tron.date"></p>
              <p ng-i18next="[html]projets.tron.labels"></p>
              <p class="pull-right"><a class="btn btn-material-blue-grey btn-raised" target="_blank" ng-i18next="[href]projets.tron.sources;[html]code"></a></p>
              <script type="application/ld+json">
              {
                "@context": "http://schema.org/",
                "@type": "SoftWareApplication",
                "name": "Tron The Grid : Action Game in C",
                "downloadUrl":"https://github.com/Slashgear/projet-tron",
                "author":[
                  {"@type":"Person",
                   "name":"Antoine CARON"},
                  {"@type":"Person",
                    "name":"Matthieu Billet"}
                ],
                "image":"http://localhost/portfolio/public/img/Tron.jpg",
                "dateCreated":"2013-04-01",
                "applicationCategory":"C",
                "operatingSystem":"Ubuntu",
                "offers":{
                  "price":"0"
                }
              }
              </script>
          </div>
        </div>
      </div>
  </section>
  <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="ok()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" ng-i18next="image"></h3>
        </div>
        <div class="modal-body">
            <img class="img-responsive" ng-src="{{url}}">
        </div>
        <div class="modal-footer">
            <button class="btn btn-material-blue-grey" ng-click="ok()" ng-i18next="close"></button>
        </div>
    </script>
</div>
