.profil-img{
  width: 50%;
  margin-bottom: 5%;
}

div.justify p{
  text-align: justify;
}

.icon{
  line-height: inherit;
  vertical-align: bottom;
}

.flags{
  max-height: 30px;
}
.img-item{
  min-width: 100px;
}
.icon-sm{
  width: 50%;
}
.age{
  margin-top: 0px;
}

.md-img{
  width: 75%;
  margin-bottom: 5%;
}

.img-sp-bt{
  margin-bottom: 15px;
}
