<h1 class="hidden" ng-i18next="h1.cursus"></h1>
<section class="col-xs-12">
  <div class="list-group">
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
            <img class="icon md-img img-circle center-block img-responsive"  ng-i18next="[src]pcursus.polytech.image.url;[alt]pcursus.polytech.image.alt">
        </div>
        <div class="col-sm-9">
            <h4 class="list-group-item-heading" ng-i18next="pcursus.polytech.title"></h4>
            <p class="list-group-item-text" ng-i18next="[html]pcursus.polytech.content"></p>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
            <img class="icon md-img img-circle center-block img-responsive"  ng-i18next="[src]pcursus.eolane.image.url;[alt]pcursus.eolane.image.alt">
        </div>
        <div class="col-sm-9">
            <h4 class="list-group-item-heading" ng-i18next="pcursus.eolane.title"></h4>
            <p class="list-group-item-text" ng-i18next="[html]pcursus.eolane.content"></p>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
            <img class="icon md-img img-circle center-block img-responsive"  ng-i18next="[src]pcursus.atos.image.url;[alt]pcursus.atos.image.alt">
        </div>
        <div class="col-sm-9">
            <h4 class="list-group-item-heading" ng-i18next="pcursus.atos.title"></h4>
            <p class="list-group-item-text" ng-i18next="[html]pcursus.atos.content"></p>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
            <img class="icon md-img img-circle center-block img-responsive" ng-i18next="[src]pcursus.polyenco.image.url;[alt]pcursus.polyenco.image.alt">
        </div>
        <div class="col-sm-9">
            <h4 class="list-group-item-heading" ng-i18next="pcursus.polyenco.title"></h4>
            <p class="list-group-item-text" ng-i18next="[html]pcursus.polyenco.content"></p>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
            <img class="icon md-img center-block img-circle img-responsive" ng-i18next="[src]pcursus.parriat.image.url;[alt]pcursus.parriat.image.alt">
        </div>
        <div class="col-sm-9">
            <h4 class="list-group-item-heading" ng-i18next="pcursus.parriat.title"></h4>
            <p class="list-group-item-text" ng-i18next="[html]pcursus.parriat.content"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div ng-include="'views/floating-button.html'"></div>
